<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
  <div class="menu">
    <a href="/login" target="_blank"><img style="background-color: transparent;" draggable="false"  class="logo" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png"></a>
    <a class="home" href="/feed" target="_blank" >Home</a>
    <input id="one" type="text" class="search-bar" placeholder="Search">
    <button id="two" class="search-bar"></button>
    <div class="icon-container">
      <img tabindex="1" draggable="false" class="icon bell" src="https://i.hizliresim.com/rcvolcu.png">
      <img tabindex="1" draggable="false" class="icon message" src="https://i.hizliresim.com/newumah.png">
      <img tabindex="1" draggable="false" class="icon pp" src="https://i.pinimg.com/564x/bd/94/ce/bd94ce28cf8aefb521bac31d547f6409.jpg">
      <img tabindex="1" draggable="false" class="icon btn" src="https://i.hizliresim.com/g15mqud.png">
      
      <!----FOCUS----->
      <div tabindex="1" class="focus-bar bell-bar">nothing</div>
      <!-------------------->
      <div tabindex="1" class="focus-bar message-bar">you are alone</div>
      <!-------------------->
      <div tabindex="1" class="focus-bar pp-bar"><img src="https://i.pinimg.com/564x/bd/94/ce/bd94ce28cf8aefb521bac31d547f6409.jpg"><a href="/profile" target="_blank">Profile</a><br><a href="/logout" target="_blank">Logout</a></div>
      <!-------------------->
      <div tabindex="1" class="focus-bar btn-bar">¯\_( ͡° ͜ʖ ͡°)_/¯</div>
      
    </div>
  </div>
  <!--------------------------->
  <div class="responsive-search-bar">
      <input type="text">
      <p class="close">❌</p>
    </div>
      
        <header>
          <img src="/images/pininterest logo.svg"/>
        </header>
      
        <div class="container">

          <div class="box">
            <a href="ttps://oriontralelblog.com/wp-content/uploads/2019/08/IMG_6310.jpg">
              <img src="https://oriontravelblog.com/wp-content/uploads/2019/08/IMG_6310.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://sciencecalx.com/wp-content/uploads/2023/07/chemistry.png">
              <img src="https://orionstardesign.com/wp-content/uploads/2021/08/newStopCropped1.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/003.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/003.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/002.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/002.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/001.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/001.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/006.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/006.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/007.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/007.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/008.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/008.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/009-scaled.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/009-scaled.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/010.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/010.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/011.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/011.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/012.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/012.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/013.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/013.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/014.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/014.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/015.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/015.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/016.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/016.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/021.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/021.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/019.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/019.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/020.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/020.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/022.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/022.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/023.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/023.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/024.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/024.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/025.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/025.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/026.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/026.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/027.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/027.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/028.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/028.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
          <div class="box">
            <a href="https://orionstardesign.com/wp-content/uploads/2023/08/029.jpg">
              <img src="https://orionstardesign.com/wp-content/uploads/2023/08/029.jpg" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
          </div>
      
            
        </div>
      
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="app.js"></script>
        <script>
            const navSlide = () => {
                const lines = document.querySelector('.lines');
                const nav = document.querySelector('.navLink');
                
                lines.addEventListener('click',() => {
                    nav.classList.toggle('nav-active');
                    
                //Line Animation
                lines.classList.toggle('toggle');
                });
               
            }
            
            navSlide();
        </script>
</body>
</html>