*
{
  margin: 0;
  padding: 0;
	background-color: #fff;
  box-sizing: border-box;
  font-family: "Gilroy";
}

a {
	text-decoration: none;
}

.menu{
	max-width:100%;
	display:flex;
	align-items:center;
	font-weight:bold;
	margin-top: 20px;
	padding: 10px;
  }
  .menu .logo{
	width:75px;
	padding:10px;
	cursor:pointer;
	border-radius:50%;
  }
  .menu .logo:hover{
	background-color: lightgray;
  }
  .menu .home{
	color:#000;
	background: lightgray;
	padding:12px 25px;
	cursor:pointer;
	user-select:none;
	border-radius:40px;
	margin:0px 5px;
  }
  .menu .home:hover{
	background-color: #000;
	color: lightgray;
  }
  .menu .search-bar{
	width:100%;
	margin:0px 5px;
	padding:12px 35px;
	border-radius:40px;
	outline:none;
	position:relative;
	background-color:#efefef;
	font-size:15px;
	background-image:url("https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/search-3-256.png");
	background-size:21px;
	background-repeat:no-repeat;
	background-position:center left;
	background-position:10px;
	color:gray;
	border:4px solid transparent;
  }
  .menu .search-bar:hover{
	background-color:#3333;
  }
  .menu .search-bar:focus{
	border:4px solid #7bb5f0;
	padding:12px 20px;
	background-image:none;
  }
  .menu .search-bar::placeholder{
	user-select:none;
  }
  .icon-container{
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
  }
  .icon-container .icon{
	width:75px;
	border-radius:50%;
	cursor:pointer;
	padding:10px;
  }
  .icon-container .icon:hover{
	background-color:#eeeeee;
  }
  .icon-container .btn{
	width:14px;
	padding:5px;
  }
  .focus-bar{
	width:250px;
	height:350px;
	border-radius:15px;
	background:#fff;
	border:2px solid #3333;
	position:absolute;
	top:40px;/*50px*/
	left:-90px;
	visibility:hidden;
	opacity:0;
	transition:all 0.3s;
	display:flex;
	justify-content:center;
	align-items:center;
	align-content:center;
	user-select:none;
	z-index:99;
  }
  .bell:focus + .message + .pp + .btn + .bell-bar, .bell-bar:focus{
	visibility:visible;
	opacity:1;
	top:50px;
  }
  .message:focus + .pp + .btn + .bell-bar + .message-bar, .message-bar:focus{
	visibility:visible;
	opacity:1;
	top:50px;
  }
  .pp:focus + .btn + .bell-bar + .message-bar + .pp-bar, .pp-bar:focus{
	visibility:visible;
	opacity:1;
	top:50px;
  }
  .btn:focus + .bell-bar + .message-bar + .pp-bar + .btn-bar, .btn-bar:focus{
	visibility:visible;
	opacity:1;
	top:50px;
  }
  .pp-bar a{
	text-decoration:none;
	padding:5px 15px;
	border:2px solid #161b22;
	color:#161b22;
	border-radius:5px;
  }
  .pp-bar{
	flex-direction:column;
  }
  .pp-bar img{
	width:150px;
	border-radius:50%;
	margin-bottom:20px;
  }
  .pp-bar a:hover{
	background:#161b22;
	color:white;
  }
  
  /*MINI SEARCH BAR*/
  #two{
	display:none;
	padding:15px;
  }
  .responsive-search-bar{
	max-width:100%;
	padding:40px 10px;
	text-align:center;
	border-radius:15px;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	top:-300px;
	transition:all 0.3s;
	overflow:hidden;
	display:none;
	background:#fff;
	box-shadow: 0px 0px 2px 0px #333;
	margin:0px 5px;
	z-index:99;
  }
  .responsive-search-bar input{
	width:100%;
	height:35px;
	outline:none;
	border-radius:40px;
	border:4px solid transparent;
	background-image:url("https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/search-3-256.png");
	background-size:21px;
	background-repeat:no-repeat;
	background-position:center left;
	background-position:10px;
	padding:0px 15px 0px 35px;
	background-color:#efefef;
  }
  .responsive-search-bar input:focus{
	border:4px solid #7bb5f0;
  }
  .responsive-search-bar p{
	font-size:11px;
	padding:11px;
	margin-left:5px;
	border-radius:50%;
	cursor:pointer;
	user-select:none;
	position:absolute;
	top:-12px;
	right:-1px;
	transition:all 0.3s;
  }
  .responsive-search-bar p:hover{
	background:#eeeeee;
	transform:rotate(-180deg);
  }


.logo{
	color: #49ffd0;
	letter-spacing: 25px;
	font-size: 20px;
	background-color: #000000;
}

.navLink{
	display: flex;
	justify-content: space-around;
	width: 40%;
	background-color: #000000;
	}
	
.navLink li{
	list-style: none;
	background-color: #000000;
}

.navLink a{
	color: aquamarine;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 16px;
	background-color: #000000;
}

.navLink a:hover{
   color: #588275;
}

.lines{
	display: none;
	cursor:  crosshair;
    }

.lines div{
	width: 25px;
	height: 3px;
	background-color: aquamarine;
	margin: 5px;
	
}

header{
  display: flex;
	justify-content: space-around;
	align-items: center;
  color: #b81010;
  padding-top: 7vh;
}

.container
{
  padding-top: 7vh;
  width: 1400px;
  margin: auto;
  columns: 6;
  column-gap: 20px;
  
}
.container .box
{
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  border-radius: 15px;
}
.container .box img
{
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
}


img:hover {
  
  opacity: .95;
  box-shadow: 0 0 10px #fff;
}

.caption{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
}

.card{
	height: 230px;
	width: 250px;
    background-color: rgb(245, 237, 237);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    height: auto;
	object-fit: cover;
	overflow: hidden;
	justify-content: center;
    display: block;
}

.message {
    padding: 10px;
    background-color: rgb(251, 242, 242);
    color: white;
	font-family: 'Gilroy';
}

@media (max-width: 1427px)
{
  .container
  {
    columns: 5;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px)
{
  .container
  {
    columns: 4;
  }
}

@media (max-width: 1000px)
{
  .container
  {
    columns: 3;
  }
  
  
  body{
		overflow-x: hidden;
	}
	
	.navLink{
	    position: absolute;
	    right: 0px;
	    height: 20vh;
	    top: 10vh;
	    background-color: #000; 
	    display: flex;
	    flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
		opacity: 0.9;
	}
	
	.navLink li{
		opacity: 1;
	}
	
	.lines{
		display: block;
	}
	
	.nav-active{
		transform: translateX(0%);
	}

   
	@keyframes navLinkFade{
		from{
			opacity: 0;
			transform: translateX(50px);
			}
		
		to{
			opacity: 1;
			transform: translateX(0px);
			}
		}
	
	
	.toggle .l1{
		transform: rotate(-45deg) translate(-5px,6px);
	}
	
	.toggle .l2{
		opacity: 0;
	}
	
	.toggle .l3{
		transform: rotate(45deg) translate(-5px,-6px);
	}
}
  

@media (max-width: 786px)
{
  .container
  {
    columns: 2;
  }
}


@media (max-width: 480px)
{
  .container
  {
    columns: 1;
  }
}